version: '3.9'

services:
  backend:
    environment:
      APP_ENV: production
    build:
      context: ..
      dockerfile: docker/backend.Dockerfile
    # In production you typically do not bind-mount source code
    volumes: []

  frontend:
    environment:
      APP_ENV: production
    build:
      context: ..
      dockerfile: docker/frontend.Dockerfile
    # No bind-mounts in production; use the built app inside the image
    volumes: []
